In [104]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [105]:
spy_path = '/home/lumi/Git/money-repo/lagged_Correlation/qqq_60min_2023Only.csv'
vix_path = '/home/lumi/Git/money-repo/lagged_Correlation/qqq_60min_2023Only.csv'

In [106]:
spy_df = pd.read_csv(spy_path)
vix_df = pd.read_csv(vix_path)

In [107]:
low_thres = 0
high_thres = 0

In [108]:
# sort by Time as datetime
spy_df['Time_dt'] = pd.to_datetime(spy_df['Time'])

spy_df.sort_values(by=['Time_dt'], inplace=True)
spy_df.reset_index(drop=True, inplace=True)
spy_df.head(10)

,Time,Open,High,Low,Last,Change,%Chg,Volume,Time_dt
0,1/3/23 9:00,268.650,270.155,265.5900,265.6579,-0.6221,-0.23%,5711981,2023-01-03 09:00:00
1,1/3/23 10:00,265.660,266.200,263.7300,265.2100,-0.4479,-0.17%,4826537,2023-01-03 10:00:00
2,1/3/23 11:00,265.230,265.498,262.4400,262.8100,-2.4000,-0.90%,3945361,2023-01-03 11:00:00
3,1/3/23 12:00,262.800,263.640,262.1300,262.7500,-0.0600,-0.02%,2880188,2023-01-03 12:00:00
4,1/3/23 13:00,262.755,263.940,262.3100,263.8200,1.0700,0.41%,2190408,2023-01-03 13:00:00
5,1/3/23 14:00,263.810,264.980,262.7604,264.3500,0.5300,0.20%,3129750,2023-01-03 14:00:00
6,1/3/23 15:00,264.360,265.200,264.1200,264.4800,0.1300,0.05%,5114578,2023-01-03 15:00:00
7,1/4/23 9:00,266.640,266.920,264.7200,265.3900,0.9100,0.34%,4450845,2023-01-04 09:00:00
8,1/4/23 10:00,265.330,266.260,262.5300,265.0000,-0.3900,-0.15%,7301377,2023-01-04 10:00:00
9,1/4/23 11:00,264.990,267.450,264.4100,266.9499,1.9499,0.74%,4649384,2023-01-04 11:00:00

In [109]:
# Split Time into Date and Time
spy_df['Date'] = spy_df['Time'].str.split(' ').str[0]

try:
    # Convert Date from MM/DD/YY
    spy_df['Date'] = pd.to_datetime(spy_df['Date'], format='%m/%d/%Y')
except:
    # Convert Date from M/D/YYYY to M/D/YY
    spy_df['Date'] = pd.to_datetime(spy_df['Date'], format='%m/%d/%y')


spy_df['Time'] = spy_df['Time'].str.split(' ').str[1]

# convert time to datetime
spy_df['Time'] = pd.to_datetime(spy_df['Time'], format='%H:%M')

spy_change = spy_df[['Date', 'Time', 'Change', '%Chg']]

# Remove % sign from %Chg
spy_change['%Chg'] = spy_change['%Chg'].str.replace('%', '')

# Convert %Chg to float
spy_change['%Chg'] = spy_change['%Chg'].astype(float)
spy_change
# convert to pivot table
# spy_change_pivot = spy_change.pivot(index='Date', columns='Time', values='%Chg')
# spy_vals_pivot = spy_change.pivot(index='Date', columns='Time', values='Change')

# spy_change_pivot
# convert values to -1 or 1, set NaN for 0

/tmp/ipykernel_54156/1889432387.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spy_change['%Chg'] = spy_change['%Chg'].str.replace('%', '')
/tmp/ipykernel_54156/1889432387.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spy_change['%Chg'] = spy_change['%Chg'].astype(float)

In [110]:
# convert values to -1 or 1, set NaN for 0
spy_change_pivot = spy_change_pivot.applymap(lambda x: 1 if x >= high_thres else -1 if x <= -low_thres else pd.NA)

TypeError: boolean value of NA is ambiguous

In [ ]:
spy_change_pivot

Time,1900-01-01 09:00:00,1900-01-01 10:00:00,1900-01-01 11:00:00,1900-01-01 12:00:00,1900-01-01 13:00:00,1900-01-01 14:00:00,1900-01-01 15:00:00
Date,,,,,,,
2023-01-03,-1,-1,-1,-1,1,1,1
2023-01-04,1,-1,1,-1,1,-1,1
2023-01-05,-1,-1,1,-1,1,1,-1
2023-01-06,-1,1,1,-1,1,1,-1
2023-01-09,1,1,1,-1,-1,-1,-1
...,...,...,...,...,...,...,...
2023-11-22,1,-1,1,-1,1,-1,-1
2023-11-24,-1,-1,1,1,1,<NA>,<NA>
2023-11-27,-1,1,1,1,-1,-1,-1
2023-11-28,-1,1,1,-1,-1,1,1
2023-11-29,1,-1,-1,1,<NA>,<NA>,<NA>

In [ ]:
vix_df['Date'] = vix_df['Time'].str.split(' ').str[0]

try:
    # Convert Date from MM/SD/YY to M/D/YYYY
    vix_df['Date'] = pd.to_datetime(vix_df['Date'], format='%m/%d/%Y')
except:
    # Convert Date from MM/SD/YYYY to M/D/YY
    vix_df['Date'] = pd.to_datetime(vix_df['Date'], format='%m/%d/%y')

vix_df['Time'] = vix_df['Time'].str.split(' ').str[1]

# convert time to datetime
vix_df['Time'] = pd.to_datetime(vix_df['Time'], format='%H:%M')

vix_change = vix_df[['Date', 'Time', 'Change', '%Chg']]

# Remove % sign from %Chg
vix_change['%Chg'] = vix_change['%Chg'].str.replace('%', '')

# Convert %Chg to float
vix_change['%Chg'] = vix_change['%Chg'].astype(float)

vix_change_pivot = vix_change.pivot(index='Date', columns='Time', values='%Chg')
vix_vals_pivot = vix_change.pivot(index='Date', columns='Time', values='Change')

vix_change_pivot = vix_change_pivot.applymap(lambda x: 1 if x > 0 else -1) 

# For the two pivot tables, keep only the Date rows that are in both tables
valid_rows = spy_change_pivot.index.intersection(vix_change_pivot.index)

# index both pivot tables with the valid rows
spy_change_pivot = spy_change_pivot.loc[valid_rows]
vix_change_pivot = vix_change_pivot.loc[valid_rows]

/tmp/ipykernel_54156/4207852913.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vix_change['%Chg'] = vix_change['%Chg'].str.replace('%', '')
/tmp/ipykernel_54156/4207852913.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vix_change['%Chg'] = vix_change['%Chg'].astype(float)

In [ ]:
lag = 60

In [ ]:
probs_df = pd.DataFrame(columns = ['a_down_b_down',  'a_down_b_up', 'a_up_b_down', 'a_up_b_up'])
dist_df = pd.DataFrame(columns = ['a_down_b_down',  'a_down_b_up', 'a_up_b_down', 'a_up_b_up'])

# For each 15 minute range, calculate the conditional probabilities
for i in range(len(spy_change_pivot.columns) - 1):
    spy_col = spy_change_pivot.columns[i]

    # get the column 15 minutes later
    fifteen_minutes_later = spy_col + pd.Timedelta(minutes=lag)

    # if vix_change_pivot doesn't have the column, skip it
    if fifteen_minutes_later not in vix_change_pivot.columns:
        continue

    vix_col = fifteen_minutes_later

    # generate name based on column names. Have name only include the HH:MM part of the time
    name = f"{spy_col.strftime('%H:%M')}_{vix_col.strftime('%H:%M')}"
    
    # get the column from spy_change_pivot
    spy_col = spy_change_pivot[spy_col]
    vix_col = vix_change_pivot[vix_col]
    
    # get the combinations in tuple pairs, and any pairs with NaN are dropped
    combo_col = pd.DataFrame(list(zip(spy_col, vix_col))).dropna()

    #print(combo_col)

    # calculate conditional probabilities.
    # from https://stackoverflow.com/questions/37818063/how-to-calculate-conditional-probability-of-values-in-dataframe-pandas-python
    spy_prob = combo_col.groupby(0).size().div(len(combo_col))

    conditional = combo_col.groupby([0, 1]).size().div(len(combo_col)).div(spy_prob, axis=0, level=0)

    # convert to new dataframe in the format (index 0, index 1): value
    conditional = conditional.unstack().fillna(0).to_dict()

    full_conditional = {}

    full_conditional_stats = {}

    rename = {-1: "down", 1: "up"}

    for i in [-1, 1]:
        for j in [-1, 1]:
            if i not in conditional or j not in conditional[i]:
                full_conditional[f"a_{rename[j]}_b_{rename[i]}"] = 0
                full_conditional_stats[f"a_{rename[j]}_b_{rename[i]}"] = [0,0,0]


            else:
                full_conditional[f"a_{rename[j]}_b_{rename[i]}"] = conditional[i][j]
    
                # get the rows for each combination of a and b
                a_down_b_down = combo_col[(combo_col[0] == j) & (combo_col[1] == i)]
                
                # get the count, mean, and std from vix_vals_pivot for the rows in a_down_b_down for the hour
                a_down_b_down_vals = vix_vals_pivot.iloc[a_down_b_down.index].describe().fillna(0)[[fifteen_minutes_later]].to_dict()[fifteen_minutes_later]

                full_conditional_stats[f"a_{rename[j]}_b_{rename[i]}"] = [int(a_down_b_down_vals['count']), a_down_b_down_vals['mean'], a_down_b_down_vals['std']]

                full_conditional_stats

    # # add the percentages to the dataframe using the name as the index
    probs_df.loc[name] = full_conditional
    dist_df.loc[name] = full_conditional_stats